.skills__container {

    column-gap: 5rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Maximum of two columns */
  grid-gap: 15px;
  justify-content: space-evenly;
}

.skills__group {
  display: flex;
  flex-direction: column; /* Items arranged vertically */
}

.skills__group:nth-child(odd) .skills__data {
  order: 2; /* Swap order for odd-indexed items to fill rows */
}

.skills__data {
    display: flex;
    column-gap: 0.9rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1024px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;

    }
    .skills__box {
         display: grid;
         grid-template-columns: repeat(2, 1fr); /* Maximum of two columns */
         grid-gap: 10px;
         margin:auto;
                }
  }

  /* For medium devices */
  @media screen and (max-width: 600px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }
    .skills__box {
         display: grid;
         grid-template-columns: repeat(2, 1fr); /* Maximum of two columns */
         grid-gap: 10px;
         margin:auto;
                }
  }

  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
    .skills__container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-text-container img {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
}
