.navbar-nav {
  transition: margin 0.3s ease;
}

.slide-in {
  margin-right: 10%;
}

.slide-out {
  margin-right: -100%;
}

.nav-brand-custom {
  color: black;
  margin-right: auto;
  margin-left: 20px;
  font-weight: 500;
}

.nav-toggle-custom {
  margin-right: 20px;
}

.nav-link-custom {
  color: black !important;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 500;
  text-align: right;
}

.nav-link-custom.active-link {
  color: var(--title-color-dark) !important;
}
