/*!*!*!*.work__container {*!*!*!*/
/*!*!*!*  gap: 3rem;*!*!*!*/
/*!*!*!*  grid-template-columns: repeat(2, max-content);*!*!*!*/
/*!*!*!*  justify-content: center;*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__filters {*!*!*!*/
/*!*!*!*  display: flex;*!*!*!*/
/*!*!*!*  justify-content: center;*!*!*!*/
/*!*!*!*  align-items: center;*!*!*!*/
/*!*!*!*  column-gap: 0.75rem;*!*!*!*/
/*!*!*!*  margin-bottom: var(--mb-2);*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__item {*!*!*!*/
/*!*!*!*  cursor: pointer;*!*!*!*/
/*!*!*!*  color: var(--title-color);*!*!*!*/
/*!*!*!*  padding: 0.25rem 0.75rem;*!*!*!*/
/*!*!*!*  font-weight: var(--font-medium);*!*!*!*/
/*!*!*!*  border-radius: 0.5rem;*!*!*!*/
/*!*!*!*  text-transform: capitalize;*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__item:hover {*!*!*!*/
/*!*!*!*  background-color: var(--title-color);*!*!*!*/
/*!*!*!*  color: var(--container-color);*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__card {*!*!*!*/
/*!*!*!*  background-color: var(--container-color);*!*!*!*/
/*!*!*!*  border: 1px solid rgba(0, 0, 0, 0.1);*!*!*!*/
/*!*!*!*  padding: 1.25rem;*!*!*!*/
/*!*!*!*  border-radius: 1rem;*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__img {*!*!*!*/
/*!*!*!*  width: 295px;*!*!*!*/
/*!*!*!*  border-radius: 1rem;*!*!*!*/
/*!*!*!*  margin-bottom: var(--mb-1);*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__title {*!*!*!*/
/*!*!*!*  font-size: var(--normal-font-size);*!*!*!*/
/*!*!*!*  font-weight: var(--font-medium);*!*!*!*/
/*!*!*!*  margin-bottom: var(--mb-0-5);*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__button {*!*!*!*/
/*!*!*!*  width: max-content;*!*!*!*/
/*!*!*!*  color: var(--text-color);*!*!*!*/
/*!*!*!*  font-size: var(--small-font-size);*!*!*!*/
/*!*!*!*  display: flex;*!*!*!*/
/*!*!*!*  align-items: center;*!*!*!*/
/*!*!*!*  column-gap: 0.25rem;*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__button-icon {*!*!*!*/
/*!*!*!*  font-size: 1rem;*!*!*!*/
/*!*!*!*  transition: 0.4s;*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*.work__button:hover .work__button-icon {*!*!*!*/
/*!*!*!*  transform: translateX(0.25rem);*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*!* Active Item Work *!*!*!*!*/
/*!*!*!*.active-work {*!*!*!*/
/*!*!*!*  background-color: var(--title-color);*!*!*!*/
/*!*!*!*  color: var(--container-color);*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*!*==================== MEDIA QUERIES ====================*!*!*!*!*/
/*!*!*!*!* For large devices *!*!*!*!*/
/*!*!*!*@media screen and (max-width: 992px) {*!*!*!*/
/*!*!*!*  .work__container {*!*!*!*/
/*!*!*!*    gap: 1.25rem;*!*!*!*/
/*!*!*!*  }*!*!*!*/

/*!*!*!*  .work__card {*!*!*!*/
/*!*!*!*    padding: 1rem;*!*!*!*/
/*!*!*!*  }*!*!*!*/

/*!*!*!*  .work__img {*!*!*!*/
/*!*!*!*    margin-bottom: 0.75rem;*!*!*!*/
/*!*!*!*  }*!*!*!*/

/*!*!*!*  .work__title {*!*!*!*/
/*!*!*!*    margin-bottom: 0.25rem;*!*!*!*/
/*!*!*!*  }*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*!* For medium devices *!*!*!*!*/
/*!*!*!*@media screen and (max-width: 768px) {*!*!*!*/
/*!*!*!*  .work__container {*!*!*!*/
/*!*!*!*    grid-template-columns: max-content;*!*!*!*/
/*!*!*!*  }*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*@media screen and (max-width: 576px) {*!*!*!*/
/*!*!*!*  .work__container {*!*!*!*/
/*!*!*!*    grid-template-columns: 1fr;*!*!*!*/
/*!*!*!*  }*!*!*!*/

/*!*!*!*  .work__img {*!*!*!*/
/*!*!*!*    width: 100%;*!*!*!*/
/*!*!*!*  }*!*!*!*/
/*!*!*!*}*!*!*!*/

/*!*!*!*!* For small devices *!*!*!*!*/
/*!*!*!*@media screen and (max-width: 350px) {*!*!*!*/
/*!*!*!*  .work__item {*!*!*!*/
/*!*!*!*    font-size: var(--small-font-size);*!*!*!*/
/*!*!*!*  }*!*!*!*/

/*!*!*!*  .work__filters {*!*!*!*/
/*!*!*!*    column-gap: 0.25rem;*!*!*!*/
/*!*!*!*  }*!*!*!*/
/*!*!*!*}*!*!*!*/


/*!*!*.work__container {*!*!*/
/*!*!*  gap: 3rem;*!*!*/
/*!*!*  grid-template-columns: repeat(2, max-content);*!*!*/
/*!*!*  justify-content: center;*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__filters {*!*!*/
/*!*!*  display: flex;*!*!*/
/*!*!*  justify-content: center;*!*!*/
/*!*!*  align-items: center;*!*!*/
/*!*!*  column-gap: 0.75rem;*!*!*/
/*!*!*  margin-bottom: var(--mb-2);*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__item {*!*!*/
/*!*!*  cursor: pointer;*!*!*/
/*!*!*  color: var(--title-color);*!*!*/
/*!*!*  padding: 0.25rem 0.75rem;*!*!*/
/*!*!*  font-weight: var(--font-medium);*!*!*/
/*!*!*  border-radius: 0.5rem;*!*!*/
/*!*!*  text-transform: capitalize;*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__item:hover {*!*!*/
/*!*!*  background-color: var(--title-color);*!*!*/
/*!*!*  color: var(--container-color);*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__card {*!*!*/
/*!*!*  background-color: var(--container-color);*!*!*/
/*!*!*  border: 1px solid rgba(0, 0, 0, 0.1);*!*!*/
/*!*!*  padding: 1.25rem;*!*!*/
/*!*!*  border-radius: 1rem;*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__img {*!*!*/
/*!*!*  width: 295px;*!*!*/
/*!*!*  border-radius: 1rem;*!*!*/
/*!*!*  margin-bottom: var(--mb-1);*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__title {*!*!*/
/*!*!*  font-size: var(--normal-font-size);*!*!*/
/*!*!*  font-weight: var(--font-medium);*!*!*/
/*!*!*  margin-bottom: var(--mb-0-5);*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__button {*!*!*/
/*!*!*  width: max-content;*!*!*/
/*!*!*  color: var(--text-color);*!*!*/
/*!*!*  font-size: var(--small-font-size);*!*!*/
/*!*!*  display: flex;*!*!*/
/*!*!*  align-items: center;*!*!*/
/*!*!*  column-gap: 0.25rem;*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__button-icon {*!*!*/
/*!*!*  font-size: 1rem;*!*!*/
/*!*!*  transition: 0.4s;*!*!*/
/*!*!*}*!*!*/

/*!*!*.work__button:hover .work__button-icon {*!*!*/
/*!*!*  transform: translateX(0.25rem);*!*!*/
/*!*!*}*!*!*/

/*!*!*!* Active Item Work *!*!*!*/
/*!*!*.active-work {*!*!*/
/*!*!*  background-color: var(--title-color);*!*!*/
/*!*!*  color: var(--container-color);*!*!*/
/*!*!*}*!*!*/

/*!*!*!*==================== MEDIA QUERIES ====================*!*!*!*/
/*!*!*!* For large devices *!*!*!*/
/*!*!*@media screen and (max-width: 992px) {*!*!*/
/*!*!*  .work__container {*!*!*/
/*!*!*    gap: 1.25rem;*!*!*/
/*!*!*  }*!*!*/

/*!*!*  .work__card {*!*!*/
/*!*!*    padding: 1rem;*!*!*/
/*!*!*  }*!*!*/

/*!*!*  .work__img {*!*!*/
/*!*!*    margin-bottom: 0.75rem;*!*!*/
/*!*!*  }*!*!*/

/*!*!*  .work__title {*!*!*/
/*!*!*    margin-bottom: 0.25rem;*!*!*/
/*!*!*  }*!*!*/
/*!*!*}*!*!*/

/*!*!*!* For medium devices *!*!*!*/
/*!*!*@media screen and (max-width: 768px) {*!*!*/
/*!*!*  .work__container {*!*!*/
/*!*!*    grid-template-columns: max-content;*!*!*/
/*!*!*  }*!*!*/
/*!*!*}*!*!*/

/*!*!*@media screen and (max-width: 576px) {*!*!*/
/*!*!*  .work__container {*!*!*/
/*!*!*    grid-template-columns: 1fr;*!*!*/
/*!*!*  }*!*!*/

/*!*!*  .work__img {*!*!*/
/*!*!*    width: 100%;*!*!*/
/*!*!*  }*!*!*/
/*!*!*}*!*!*/

/*!*!*!* For small devices *!*!*!*/
/*!*!*@media screen and (max-width: 350px) {*!*!*/
/*!*!*  .work__item {*!*!*/
/*!*!*    font-size: var(--small-font-size);*!*!*/
/*!*!*  }*!*!*/

/*!*!*  .work__filters {*!*!*/
/*!*!*    column-gap: 0.25rem;*!*!*/
/*!*!*  }*!*!*/
/*!*!*}*!*!*/

/*!*.work {*!*/
/*!*  padding: 4rem 0;*!*/
/*!*}*!*/

/*!*.section__title {*!*/
/*!*  font-size: 2rem;*!*/
/*!*  margin: 1rem;*!*/
/*!*}*!*/

/*!*.section__subtitle {*!*/
/*!*  font-size: 1.2rem;*!*/
/*!*  color: #6c757d;*!*/
/*!*}*!*/

/*!*.work__filters {*!*/
/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  margin-bottom: 2rem;*!*/
/*!*}*!*/

/*!*.work__item {*!*/
/*!*  cursor: pointer;*!*/
/*!*  padding: 0.5rem 1rem;*!*/
/*!*  border-radius: 0.5rem;*!*/
/*!*  transition: background-color 0.3s ease;*!*/
/*!*}*!*/

/*!*.work__item:not(:last-child) {*!*/
/*!*  margin-right: 1rem;*!*/
/*!*}*!*/

/*!*.active-work {*!*/
/*!*  background-color: #007bff;*!*/
/*!*  color: #fff;*!*/
/*!*}*!*/

/*!*.work__container {*!*/
/*!*  display: grid;*!*/
/*!*  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*!*/
/*!*  gap: 2rem;*!*/
/*!*}*!*/

/*!*.work__card {*!*/
/*!*  background-color: #fff;*!*/
/*!*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*!*/
/*!*  border-radius: 1rem;*!*/
/*!*  overflow: hidden;*!*/
/*!*}*!*/

/*!*.work__img {*!*/
/*!*  margin: 1rem;*!*/
/*!*  width: 100%;*!*/
/*!*  height: 200px;*!*/
/*!*  object-fit: scale-down;*!*/
/*!*  border-radius: 1rem 1rem 0 0;*!*/
/*!*}*!*/

/*!*.work__title {*!*/
/*!*  font-size: 1.5rem;*!*/
/*!*  margin: 1rem;*!*/
/*!*}*!*/

/*!*.work__description {*!*/
/*!*  padding: 0 1rem;*!*/
/*!*}*!*/

/*!*.work__read-more {*!*/
/*!*  padding: 1rem;*!*/
/*!*  background-color: #f8f9fa;*!*/
/*!*}*!*/

/*!*.work__read-more-text {*!*/
/*!*  cursor: pointer;*!*/
/*!*  text-align: center;*!*/
/*!*  font-weight: bold;*!*/
/*!*  color: #007bff;*!*/
/*!*  margin-bottom: 1rem;*!*/
/*!*}*!*/

/*!*.work__read-more-content {*!*/
/*!*  display: none;*!*/
/*!*}*!*/

/*!*.work__buttons {*!*/
/*!*  display: flex;*!*/
/*!*  justify-content: space-between;*!*/
/*!*  padding: 0 1rem 1rem;*!*/
/*!*}*!*/

/*!*.work__button {*!*/
/*!*  padding: 0.5rem 1rem;*!*/
/*!*  background-color: #007bff;*!*/
/*!*  color: #fff;*!*/
/*!*  border: none;*!*/
/*!*  border-radius: 0.5rem;*!*/
/*!*  cursor: pointer;*!*/
/*!*  transition: background-color 0.3s ease;*!*/
/*!*}*!*/

/*!*.work__button:hover {*!*/
/*!*  background-color: #0056b3;*!*/
/*!*}*!*/


/*!*.work__button-icon {*!*/
/*!*  margin-left: 0.5rem;*!*/
/*!*}*!*/

/*.work {*/
/*  padding: 4rem 0;*/
/*}*/

/*.section__title {*/
/*  font-size: 2rem;*/
/*  margin: 1rem;*/
/*}*/

/*.section__subtitle {*/
/*  font-size: 1.2rem;*/
/*  color: #6c757d;*/
/*}*/

/*.work__filters {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin-bottom: 2rem;*/
/*}*/

/*.work__item {*/
/*  cursor: pointer;*/
/*  padding: 0.5rem 1rem;*/
/*  border-radius: 0.5rem;*/
/*  transition: background-color 0.3s ease;*/
/*}*/

/*.work__item:not(:last-child) {*/
/*  margin-right: 1rem;*/
/*}*/

/*.active-work {*/
/*  background-color: #536878;*/
/*  color: #fff;*/
/*}*/

/*.work__container {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
/*  gap: 2rem;*/
/*}*/

/*.work__card {*/
/*  background-color: #fff;*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*  border-radius: 1rem;*/
/*  overflow: hidden;*/
/*}*/

/*.work__img {*/
/*  margin: auto;*/
/*  margin-top: 2rem;*/
/*  width: 100%;*/
/*  height: 200px;*/
/*  object-fit: contain;*/
/*  border-radius: 1rem 1rem 0 0;*/
/*}*/

/*.work__title {*/
/*  font-size: medium;*/
/*  margin: 1rem;*/
/*}*/

/*.work__description {*/
/*  font-size: small;*/
/*  padding: 0 1rem;*/
/*}*/

/*.work__read-more {*/
/*  position: relative;*/
/*}*/

/*.work__read-more-text {*/
/*  cursor: pointer;*/
/*  text-align: center;*/
/*  font-weight: bold;*/
/*  color: #536878;*/
/*  margin-bottom: 1rem;*/
/*}*/

/*.work__read-more-content {*/
/*  display: none;*/
/*  padding: 1rem;*/
/*  background-color: #fff;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*  border-radius: 0.5rem;*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  z-index: 1;*/
/*}*/

/*.work__read-more:hover .work__read-more-content {*/
/*  display: block;*/
/*}*/

/*.work__buttons {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  padding: 0 1rem 1rem;*/
/*}*/

/*.work__button {*/
/*  padding: 0.5rem 1rem;*/
/*  background-color: #536878;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 0.5rem;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s ease;*/
/*}*/

/*.work__button:hover {*/
/*  background-color: #536878;*/
/*}*/

/*.work__button-icon {*/
/*  margin-left: 0.5rem;*/
/*}*/

/*@media screen and (max-width: 992px) {*/
/*  .work__container {*/
/*    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
/*  }*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .work__img {*/
/*    height: 150px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 576px) {*/
/*  .work__img {*/
/*    height: 100px;*/
/*  }*/

/*  .work__container {*/
/*    gap: 1rem;*/
/*  }*/
/*}*/


.work {
  padding: 4rem 0;
}

.section__title {
  font-size: 2rem;
  margin: 1rem;
}

.section__subtitle {
  font-size: 1.2rem;
  color: #6c757d;
}

.work__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.work__item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.work__item:not(:last-child) {
  margin-right: 1rem;
}

.active-work {
  background-color: #536878;
  color: #fff;
}

.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.work__card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.work__img {
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
}

.work__title {
  font-size: medium;
  margin: 1rem;
}

.work__description {
  font-size: small;
  padding: 0 1rem;
}

.work__read-more {
  position: relative;
}

.work__read-more-text {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #536878;
  margin-bottom: 1rem;
}

/*.work__read-more-content {*/
/*  display: none;*/
/*  padding: 1rem;*/
/*  background-color: #fff;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*  border-radius: 0.5rem;*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  z-index: 1;*/
/*}*/

.work__read-more-content {
  display: none;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-height: 70vh; /* Default max-height for larger screens */
  overflow-y: auto; /* Enable vertical scrolling */
}
.work__read-more:hover .work__read-more-content {
  display: block;
}

.work__buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}

.work__button {
  padding: 0.5rem 1rem;
  background-color: #536878;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.work__button:hover {
  background-color: #536878;
}

.work__button-icon {
  margin-left: 0.5rem;
}

@media screen and (max-width: 992px) {
  .work__container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
   .work__read-more-content {
    max-height: 60vh; /* Adjust max-height for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .work__img {
    height: 150px;
  }
  .work__read-more-content {
    max-height: 50vh; /* Adjust max-height for small screens */
  }
}

@media screen and (max-width: 576px) {
  .work__img {
    height: 100px;
  }

  .work__container {
    gap: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .work__read-more-content {
    max-height: 40vh; /* Adjust max-height for extra small screens */
  }
}